html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.sm{
    display: none;
}
.main {
    width: 100%;
    height: 100%;
}
.cont{
   
    margin:10px 10px 10px 10px;
}
.blue {
    height: 100px;
    width: 100%;
    background: blue;
    }
.green,
.red,
.orange {
    display: inline-block;
}
.green {
    height: 750px;
    width: 20%;
    background: green;
    margin: 10px 0px 10px 0px;
}
.red {
    height: 750px;
    width: 60%;
    background: red;
    margin: 10px 10px;
}
.orange {
    height: 750px;
    width: 17.5%;
    background: orange;
    margin: 10px 0px 0px 0px;
    float: right;
}

/* For Phones */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .blue {
        height: 85px;
        width: 92%;
        background: blue;
        margin: 10px 10px;
    }
    .green {
        height: 85px;
        width: 92%;
        background: green;
        margin: 0px 10px 5px 10px;
    }
    .red {
        height: 340px;
        width: 92%;
        background: red;
        margin: 0px 10px 10px 10px;
    }
    .orange {
        display: none;
    }
}
/* ForTablets */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .blue {
        height: 120px;
        width: 92%;
        background: blue;
        margin: 10px 10px;
    }
    .red, .orange {
        display: inline-block;
    }
    .green {
        height: 120px;
        width: 92%;
        background: green;
        margin: 10px 10px;
    }
    .sm{
        display: block;
        width:92%;
        margin:10px;
    }
    .red {
        height: 450px;
        width: 59%;
        background: red;
        margin: 0 0 0  10px;
    }
    .orange {
        height: 450px;
        width: 33%;
        background: orange;
        margin: 0 10px 0 0;
        float: right;
    }
    .one {
        display: none;
    }
}

